.appLogoContainer {
  animation:
    fadeIn 2s,
    blurIn 2s,
    moveUp 0.5s,
    moveUpAndDownAndSpin 4s 0.5s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blurIn {
  0% {
    filter: blur(25px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-48px);
  }
}

@keyframes moveUpAndDownAndSpin {
  0% {
    transform: translateY(-48px) rotate(0deg);
  }
  50% {
    transform: translateY(48px) rotate(720deg);
  }
  100% {
    transform: translateY(-48px) rotate(1440deg);
  }
}
