.appIcon {
  width: 28px;
}

.headerContactText {
  position: absolute;
  top: -3px;
  left: 43px;

  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.header {
  margin-top: 22px;
  margin-left: 28px;

  display: flex;
  flex-direction: row;
  position: relative;

  /**
   * So that the form can be dragged around while clicking on the header.
   */
  pointer-events: none;
}

.mainText {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgb(20, 1, 20);
}

.linkLabel {
  font-weight: 700;
  font-style: normal;
  color: black;
}

.link {
  color: rgb(28, 13, 219);
  font-weight: 600;

  pointer-events: auto;
  cursor: pointer;

  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: rgb(23, 2, 23);
}

.dottedLineText {
  margin-left: 8px;
}

.dottedLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.possibleSubjectsList {
  margin-top: 7px;
  margin-left: 18px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.possibleSubjectsSectionTrailingText {
  margin-top: 7px;
  margin-left: 66px;
}

.possibleSubjectsSection {
  margin-top: 35px;
}

.gitHubIssuesLine {
  margin-top: 42px;
}

.r2dtContactEmailLine {
  margin-top: 8px;
}

.r2dtGitHubPageLine {
  margin-top: 8px;
}

.r2dtSection {
  margin-top: 40px;
  margin-bottom: 41px;
}

.mainContent {
  margin-top: 35px;
  margin-left: 61px;

  /**
   * So that the form can be dragged around while clicking on parts of the main content.
   */
  pointer-events: none;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  right: 16px;

  pointer-events: auto;
}

.positionedContactForm {
  position: fixed;

  top: 72px;
  right: 64px;
  left: 66px;
  bottom: 60px;
  overflow: auto;

  max-width: 477px;
  max-height: 545px;
  margin-left: auto;

  z-index: 10;

  border: solid 1px #2b0744;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.06);
  border-radius: 15px;

  background-color: #f0f0ffc2;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
