.baseSpacingField {
  margin: 0px 0px 0px 0px;

  align-self: start;
}

.appliesToAllSecondaryBondsNote {
  margin: 6px 0px 0px 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.asterisk {
  font-weight: 900;
}
