.substructureTextArea {
  margin-top: 6px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  padding: 5px 6px;
  font-family: "Courier Prime", monospace;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 5%);
}

.substructureTextArea::placeholder {
  font-style: italic;
  color: #717171;
}
