.aNoteOnSavedDrawings {
  margin: 44px auto 0px;
}

.leadingText {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.mainText {
  margin: 9px 0px 0px 30px;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
