.backButton {
  margin: 9px 0px 0px 8px;

  border-radius: 4px;
  padding: 4px 8px;

  align-self: start;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.backButton:hover {
  background-color: hsla(240, 100%, 96.75%, 0.96);
}

.backButton:active {
  background-color: hsla(240, 100%, 94%, 0.98);
}

.text {
  margin: 0px 0px 0px 4px;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: hsl(240, 68.78%, 31.4%);

  cursor: pointer;
}
