.header {
  margin: 9px 42px 0px;

  position: relative;
}

.title {
  margin-left: 49px;

  position: relative;

  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.RNA {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.canvas {
  position: absolute;
  top: -9px;
  left: 352px;

  font-family: "Corinthia", cursive;
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.underline {
  margin-top: 4px;

  height: 1px;

  background-color: hsl(240, 30%, 88%);
}
