.header {
  margin: 13px 46px 0px;

  position: relative;
}

.title {
  margin-left: 54px;

  position: relative;

  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: black;
}

.RNA {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.canvas {
  position: absolute;
  top: -6px;
  left: 411px;

  font-family: "Corinthia", cursive;
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.underline {
  margin-top: 6px;

  height: 1px;

  background-color: hsla(240, 21.21%, 80.96%, 0.96);
}
