.header {
  position: relative;
}

.backButtonContainer {
  position: absolute;
  top: -22px;
  left: -44px;
}

.title {
  margin-left: 60px;

  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.underline {
  margin-top: 8px;

  width: 906px;
  height: 1px;

  background-color: hsl(240, 30%, 88%);
}
