.versionLink {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(240, 84%, 45%);

  cursor: pointer;

  text-decoration: none;
}

.versionLink:visited {
  color: hsl(240, 84%, 45%);
}

.versionLink:hover {
  text-decoration: underline;
}

.arrowHead {
  stroke: hsl(240, 84%, 45%);
}

.versionLink:visited .arrowHead {
  stroke: hsl(240, 84%, 45%);
}

.arrowShaft {
  stroke: hsl(240, 84%, 45%);
}

.versionLink:visited .arrowShaft {
  stroke: hsl(240, 84%, 45%);
}
