.versionLink {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(240, 76.2%, 43.5%);

  cursor: pointer;

  text-decoration: none;
}

.versionLink:visited {
  color: hsl(300, 75.3%, 28.4%);
}

.versionLink:hover {
  text-decoration: underline;
}

.arrowHead {
  stroke: hsl(240, 76.2%, 43.5%);
}

.versionLink:visited .arrowHead {
  stroke: hsl(300, 75.3%, 28.4%);
}

.arrowShaft {
  stroke: hsl(240, 76.2%, 43.5%);
}

.versionLink:visited .arrowShaft {
  stroke: hsl(300, 75.3%, 28.4%);
}
