.text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgb(7, 7, 8);
}

.r2dtLink {
  color: rgb(27, 11, 228);
  font-weight: 700;

  pointer-events: auto;
  cursor: pointer;

  text-decoration: none;
}

.r2dtLink:hover {
  text-decoration: underline;
}
