.arrowPath {
  stroke: #090945;
  stroke-width: 2px;
  stroke-linecap: round;

  fill-opacity: 0;
}

.arrow {
  height: 12px;
}

.topMenuItem {
  font-weight: 700;
  color: #090945;
}

.howToSaveADrawingNote {
  margin-top: 38px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: hsl(240, 81%, 12.71%);
}
