.openCTFileSection {
  margin: 56px 0px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.predictionProgramLink {
  font-weight: 600;
  color: hsl(236.89, 89.57%, 46.16%);
  text-decoration: none;
}

.predictionProgramLink:hover {
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsText {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(240, 2.04%, 3.43%);

  user-select: none;
  -webkit-user-select: none;
}
