.textArea {
  margin: 4px 0px 0px 0px;
  flex-grow: 1;

  border: 1px solid hsl(240, 11.96%, 61.38%);
  border-radius: 2px;
  padding: 6px 7px 5px 7px;

  font-family: "Courier Prime", monospace;
  font-size: 14px;
  font-weight: 700;
  color: hsl(240, 2.56%, 4.39%);
}

.textArea:hover {
  border-color: hsl(240, 2.56%, 3.9%);
  transition: border-color 0s;
}

.textArea:focus {
  border-color: hsl(240, 2.56%, 3.9%);
  outline: none;
}

.textArea::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #60606a;

  /* necessary for Firefox */
  opacity: 1;
}
