.option {
  outline: none;
  border: none;

  border-radius: 40px;
  min-width: 179px;
  min-height: 24px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  color: hsl(240, 79.37%, 10.87%);

  /* use before pseudo-element for background and border */
  background-color: transparent;
  position: relative;
  isolation: isolate;

  cursor: pointer;
}

.option:focus {
  outline: none;
  border: none;
}

.option::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border: 1px solid hsl(240, 22.1%, 71.76%);
  border-radius: 40px;

  z-index: -1;
}

.option:hover::before {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.option:active::before {
  transform: scale(1);
  transition: transform 0s;
}
