.fieldDescription {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: rgb(41, 41, 50);

  user-select: none;
  -webkit-user-select: none;
}
