.textInput {
  margin: 0 0 0 8px; /* margins are nonzero by default for Safari */
  flex-grow: 1;

  border: 1px solid hsl(240, 15.6%, 70.97%);
  border-radius: 2px;
  padding: 0px 7px;
  min-height: 23px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: hsl(240, 3.63%, 6.75%);
}

.textInput:hover {
  border-color: hsl(240, 2.56%, 3.9%);
  transition: border-color 0s;
}

.textInput:focus {
  border-color: hsl(240, 2.56%, 3.9%);
  outline: none;
}

.textInput::placeholder {
  font-style: italic;
  font-weight: 500;
  color: #575760;

  /* necessary for Firefox */
  opacity: 1;
}
