.askBeforeLeavingToggle {
  position: fixed;
  top: 5px;
  right: 11px;

  border-radius: 60px;

  cursor: pointer;
}

.pillContainer {
  min-width: 158px;
  min-height: 22px;

  /* use before pseudo-element for border and box shadow */
  border: none;
  border-radius: 60px;
  box-shadow: none;
  position: relative;
  isolation: isolate;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pillContainer::before {
  content: "";
  border-width: 0px;
  border-radius: 60px;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.text {
  font-size: 11px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.on .pillContainer::before {
  background-color: #291632;
}

.off .pillContainer::before {
  background-color: #7e6887;
}

.askBeforeLeavingToggle:hover .pillContainer::before {
  transform: scale(1.05);
  transition: transform 0.1s;
}

.askBeforeLeavingToggle:active .pillContainer::before {
  transform: scale(1);
  transition: transform 0s;
}

.spacer {
  width: 8px;
}

.check {}

.on .spacer {
  display: block;
}

.on .check {
  display: block;
}

.off .spacer {
  display: none;
}

.off .check {
  display: none;
}
