.domNode {
  border: 1px solid #d10f0f;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

  background-color: rgb(255, 238, 238);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 51px;

  position: fixed;

  top: 20px;
  right: 50px;
  left: 50px;
  overflow: auto;

  margin-left: auto;
  margin-right: auto;
  max-width: 714px;
  min-height: 40px;

  z-index: 10;

  animation: blinkIn 2s;
}

@keyframes blinkIn {
  0%, 70%, 90% {
    opacity: 0;
  }
  60%, 80%, 100% {
    opacity: 1;
  }
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(164, 21, 21);

  white-space: nowrap;

  margin-left: auto;
  margin-right: auto;
}

.sentence2 {
  padding-left: 10px;
}

.closeButtonContainer {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
}
