.citeButton {
  border: none;
  outline: none;

  min-width: 65px;
  min-height: 22px;
  border-radius: 1000px;
  background-color: rgba(232, 232, 255, 1);

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: rgb(13, 13, 71);

  cursor: pointer;
}

.citeButton:hover {
  background-color: rgba(204, 204, 255, 1);
}

.citeButton:active {
  background-color: rgba(176, 176, 255, 1);
}
