.formatSelect {
  margin-right: 98px;
  margin-bottom: 1px;

  border: 1px solid hsla(240, 19.62%, 70.76%, 1);
  border-radius: 60px;

  width: 168px;

  padding: 4px 14px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formatButton {
  margin: 0; /* necessary for Safari */
  border: none;
  outline: none;

  padding: 2px 12px;
  border-radius: 60px;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: normal;

  user-select: none;
  -webkit-user-select: none;
}

.formatButton:active {
  outline: none;
}

.toggledFormatButton {
  border: 1px solid #0c0c0d;
  font-weight: 600;
  color: white;
  background-color: #0c0c0d;

  cursor: default;
}

.untoggledFormatButton {
  border: 1px solid white;
  font-weight: 700;
  color: rgb(7, 7, 8);
  background-color: white;

  cursor: pointer;
}

.untoggledFormatButton:hover {
  border-color: #0c0c0d;
  transition: border-color 0s;
}

.untoggledFormatButton:active {
  border-color: #0c0c0d;
  transition: border-color 0s;
}
