.appIcon {
  width: 28px;
}

.headerRNAText {
  position: absolute;
  top: -3px;
  left: 41px;

  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.headerCanvasText {
  position: absolute;
  top: -9px;
  left: 97px;

  font-family: "Corinthia", cursive;
  font-size: 42px;
  font-weight: 400;
  color: black;
}

.header {
  margin-top: 20px;
  margin-left: 26px;

  display: flex;
  flex-direction: row;
  position: relative;

  /**
   * So that the dialog can be dragged around while clicking on the header.
   */
  pointer-events: none;
}

.mainText {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: rgb(23, 2, 23);
}

.intro {
  margin-top: 28px;
  margin-left: 48px;

  /**
   * So that the dialog can be dragged around while clicking on this.
   */
  pointer-events: none;
}

.bulletPoint {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: rgb(23, 2, 23);

  margin-right: 8px;
}

.bulletedItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.availableFeaturesListBulletedItems {
  margin-top: 7px;
  margin-left: 18px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.availableFeaturesList {
  margin-top: 33px;
  margin-left: 48px;

  /**
   * So that the dialog can be dragged around while clicking on this.
   */
  pointer-events: none;
}

.unavailableFeaturesListBulletedItems {
  margin-top: 7px;
  margin-left: 18px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.unavailableFeaturesListTrailingText {
  margin-top: 7px;
  margin-left: 44px;
}

.unavailableFeaturesList {
  margin-top: 35px;
  margin-left: 48px;

  /**
   * So that the dialog can be dragged around while clicking on this.
   */
   pointer-events: none;
}

.contactEmailLineLeadingText {
  margin-right: 4px;
}

.contactEmailLink {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: rgb(28, 13, 219);

  pointer-events: auto;

  text-decoration: none;
}

.contactEmailLink:hover {
  text-decoration: underline;
}

.contactEmailLine {
  margin-top: 35px;
  margin-bottom: 48px;
  margin-left: 48px;

  display: flex;
  flex-direction: row;

  /**
   * So that the dialog can be dragged around while clicking on this.
   */
  pointer-events: none;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  right: 16px;

  pointer-events: auto;
}

.domNode {
  position: fixed;

  top: 59px;
  right: 66px;
  left: 66px;
  bottom: 60px;
  overflow: auto;

  max-width: 528px;
  max-height: 591px;

  z-index: 10;

  border: solid 1px #420c67;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.06);
  border-radius: 15px;

  background-color: #f0f0ffc2;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
