.drawingFileInput {
  margin-top: 52px;

  border-radius: 60px;

  padding: 12px 25px;

  /* use before pseudo-element for border and box shadow */
  background-color: transparent;
  position: relative;
  isolation: isolate;

  cursor: pointer;
}

.drawingFileInput::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border: 1px solid hsl(240, 27.38%, 64.2%);
  border-radius: 60px;

  z-index: -1;
}

.drawingFileInput:hover::before {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.drawingFileInput:active::before {
  transform: scale(1);
  transition: transform 0s;
}

.text {
  width: 612px;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #070753;

  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  cursor: pointer;
}

.fileName {
  color: #080850;
}
