.content {
  width: 922px;
  min-height: 542px;

  display: flex;
  flex-direction: column;
}

.title {
  margin: 0px 93px;

  font-size: 25px;
  font-weight: 700;
  color: #151516;
}

.titleUnderline {
  margin-top: 9px;

  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: hsla(240, 27.67%, 79.26%, 1);

  height: 0px;
}

.body {
  margin: 0px 116px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileExtensionsNote {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(240, 81.82%, 13.47%);

  user-select: none;
  -webkit-user-select: none;
}

.dotRNAcanvas {
  font-weight: 700;
  color: hsl(240, 82.65%, 14.24%);
}

.dotRNA2Drawer {
  font-weight: 700;
  color: hsl(240, 82.65%, 14.24%);
}
