.appName {
  position: relative;
}

.RNA {
  position: absolute;
  top: -23px;

  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: black;

  user-select: none;
  -webkit-user-select: none;
}

.canvas {
  position: absolute;
  top: -33px;
  left: 76px;

  font-family: 'Corinthia', cursive;
  font-size: 60px;
  font-weight: 700;
  color: black;

  user-select: none;
  -webkit-user-select: none;
}

.citationsRequest {
  margin: -2px -1px 0px 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: black;

  text-align: right;

  user-select: none;
  -webkit-user-select: none;

  animation: fadeIn 2s;
}

.citeLink {
  margin-right: 1px;
}

.citeLinkText {
  color: blue;

  cursor: pointer;
}

.citeLink:hover .citeLinkText {
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.underline {
  margin: 11px 0 0 0;

  height: 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: hsla(240, 20.25%, 73.67%, 0.96);
}
