.appName {
  position: relative;
}

.RNA {
  position: absolute;
  top: -23px;

  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: black;

  user-select: none;
  -webkit-user-select: none;
}

.canvas {
  position: absolute;
  top: -33px;
  left: 76px;

  font-family: 'Corinthia', cursive;
  font-size: 60px;
  font-weight: 700;
  color: black;

  user-select: none;
  -webkit-user-select: none;
}

.rightText {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  color: rgb(80, 80, 88);
  text-align: right;

  user-select: none;
  -webkit-user-select: none;
}

.underline {
  margin: 10px 0 0 0;

  height: 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: hsl(240, 22.93%, 83.78%);
}
