.appDescription {
  margin: 35px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  color: hsl(240, 4.71%, 7.16%);

  user-select: none;
  -webkit-user-select: none;
}

.newAndOpenButtons {
  position: relative;
  isolation: isolate;
  border-radius: 24px;
  flex-grow: 1;
  height: 45px;
  line-height: 45px;
  font-size: 19px;
  color: hsl(240, 81.82%, 15.13%);
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.newAndOpenButtons::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border: 1px solid hsl(240, 34.62%, 67.12%);
  border-radius: 24px;

  z-index: -1;
}

.newAndOpenButtons:hover::before {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.newAndOpenButtons:active::before {
  transform: scale(1);
  transition: transform 0s;
}

.moreInfo {
  margin: 64px 0 0 0;
  align-self: center;

  font-size: 16px;
  font-weight: 500;
  color: hsl(240, 4.71%, 7.16%);
}

.moreInfoLinks {
  color: rgb(29, 14, 219);
  font-weight: 600;
  text-decoration-line: none;
}

.moreInfoLinks:hover {
  text-decoration-line: underline;
}

.updatesLink {
  color: rgb(27, 12, 215);
  font-weight: 600;
  text-decoration-line: none;
}

.updatesLink:hover {
  text-decoration-line: underline;
}

.updatesNotice {
  margin: 10px 0 0 0;
  align-self: center;

  font-size: 14px;
  font-weight: 500;
  color: hsl(240, 4.71%, 7.16%);

  animation: updatesNoticeFadeIn 1.5s ease-in-out;
}

.updatesNoticeDate {
  color: hsl(240, 4.71%, 7.16%);
}

@keyframes updatesNoticeFadeIn {
  0% {
    opacity: 0;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.linkToPreviousVersionsFormArrow {
  height: 14px;

  position: absolute;
  top: 0px;
  right: 0px;
  translate: 16px 2px;
}

.linkToPreviousVersionsFormArrowHead {
  stroke: rgb(27, 12, 219);
}

.linkToPreviousVersionsFormArrowShaft {
  stroke: rgb(27, 12, 219);
}

.linkToPreviousVersionsFormText {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: rgb(27, 12, 219);

  cursor: pointer;

  text-decoration: none;
}

.linkToPreviousVersionsForm {
  margin: 9px 0px 0px 0px;

  align-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  cursor: pointer;

  animation: linkToPreviousVersionsFormFadeIn 2s ease-in-out;
}

.linkToPreviousVersionsForm:hover .linkToPreviousVersionsFormText {
  text-decoration: underline;
}

@keyframes linkToPreviousVersionsFormFadeIn {
  0% {
    opacity: 0;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topSection {
  margin: 124px 0 0 0;

  width: 962px;
  display: flex;
  flex-direction: column;

  animation: topSectionFadeIn 0.5s ease-in-out;
}

@keyframes topSectionFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
