.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: white;
}

.menuContainer {
  /* Should be on top of the drawing and any forms. */
  z-index: 3;
}

.drawingAndFormContainer {
  min-height: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.drawingContainer {
  flex-grow: 1;
  overflow: auto;
}

.infobarContainer {
  z-index: 2;
}
